<div class="row">
	<div class="col-lg-6">
	    <div class="panel panel-primary">
	        <div class="panel-heading">
	            <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
	        </div>
	        <!-- /.panel-heading -->
	        <div class="panel-body">
	            <%= pie_chart @budgets.group("customers.name").sum("(totalprice_cents / 100.00)"), prefix: "R$", thousands: ".", decimal: ",", donut: true %>
	        </div>
	    </div>
	</div>

	<div class="col-lg-6">
	    <div class="panel panel-green">
	        <div class="panel-heading">
	            <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
	        </div>
	        <!-- /.panel-heading -->
	        <div class="panel-body">
	        	<%= pie_chart @books.group(:status).count, donut: true %>
	        </div>
	    </div>
	</div>
</div>



