<div class="row">
	<div class="col-lg-6">
	    <div class="panel panel-primary">
	        <div class="panel-heading">
	            <i class="fa fa-bar-chart-o fa-fw"></i> Orçamentos agrupados por clientes (Em reais)
	        </div>
	        <!-- /.panel-heading -->
	        <div class="panel-body">
	            <%= pie_chart @budgets.group("customers.name").sum("(totalprice_cents / 100.00)"), prefix: "R$", thousands: ".", decimal: ",", donut: true, round: 2,  zeros: true %>
	        </div>
	    </div>
	</div>

	<div class="col-lg-6">
	    <div class="panel panel-green">
	        <div class="panel-heading">
	            <i class="fa fa-bar-chart-o fa-fw"></i> Serviços mais realizados
	        </div>
	        <!-- /.panel-heading -->
	        <div class="panel-body">
	        	<%= pie_chart @services.group("services.name").count, donut: true %>
	        </div>
	    </div>
	</div>

	<div class="col-lg-12">
	    <div class="panel panel-red">
	        <div class="panel-heading">
	            <i class="fa fa-bar-chart-o fa-fw"></i> Total de Orçamentos em Reais (Últimos 12 mêses) 
	        </div>
	        <!-- /.panel-heading -->
	        <div class="panel-body">
	        	<%= bar_chart @budgets_total.group_by_month(:created_at, format: "%b %Y", last: 12).sum("(totalprice_cents / 100.00)"), prefix: "R$", thousands: ".", decimal: "," %>
	        </div>
	    </div>
	</div>
</div>



