<div class='nested-fields'>
  <div class="field">
    <%= f.label :service %>
    <div class="input-group">
    	<span class="input-group-addon"><%= link_to new_service_path, remote: true do %> <i class="fa fa-plus"></i></span><% end %>
    	<%= f.select(:service_id, Service.where(user_id: current_user.id ).collect {|p| [ p.name, p.id ] }, {prompt: "Selecione o serviço"}, { class: "form-control", style: "width:250px;"  })%>
    </div>
  </div>
  <%= link_to_remove_association "Remove service", f, class: "btn btn-outline btn-danger btn-xs pull-right" %>
</div>

