 <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #006FFF">
          <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
          <li><%= link_to edit_user_path(current_user) do %> <i class="fa fa-gear"></i> Conta <% end %></a>
          <li class="divider"></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %> <i class="fa fa-sign-out"></i> Sair<% end %></a>
          </li>
      </ul>
    </li>
  </ul>