<div class='nested-fields'>
  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number, class: "form-control", placeholder: "Digite o número de telefone" %>
  </div>
	  <%= link_to_remove_association "Apagar Telef.", f, class: "btn btn-outline btn-danger btn-xs pull-right" %>
</div>