// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#primary:hover {
	color:#337ab7;
}


.nav-second-level a:hover {
	color: black !important;
}

.active:hover {
	color:black !important;
}




