// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sessao {	
	padding-top: 10px;
	overflow: hidden;
}


#search {
	margin-top: 50px;
}

#search-field {
	margin-top: 3px;
	margin-bottom: 3px;
}

#search-field-city {

	margin-top: 3px;
	margin-bottom: 3px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
