// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#background {
	background-color: #AFA5A5;
}

#search {
	margin-top: 100px;
}

#search-field {
	width: 350px;
}

#search-field-city {
	width: 350px;
	margin-top: 10px;
}

#submit-button {
	width: 70px;
	position: absolute;
	left: 370px;
}

#refresh-button {
	position: absolute;
	left: 450px;
	width: 70px;
	top: -5px;
}

#geolocation-button {
	position: absolute;
	left: 530px;
	width: 70px;
	top: -5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
